

html {
      font-family: sans-serif;
      text-shadow: 1.5px 1.5px 2px grey;
}

input {
      width: 100%;
      padding: 6px;
      border: 0;
      border-radius: 4px;
}

button{
      width: 24px;
      height: 24px;
      border-radius: 4px; 
      background-color: white;   
      border: 0;
}

button:hover {
      cursor: pointer;
      color:  blue;
      transition: 0.4s;
      background-color: lightgrey;
}

#DataGrid > div:nth-child(2n) {
      background-color: lightgray;
}

.grid-container{
      display: grid;
      grid-template-columns: auto auto auto auto;

      padding: 5px;
}

.grid-container div{
      width: 200px;
      margin-right: 20px;
}

.grid-header {
      background-image: linear-gradient(to right, #0047b3 ,  #0066ff);
      color: white;
}

.grid-control{
      background-color: lightgrey;
}

.disabled{
      pointer-events: none;
      user-select: none;
}

.show{
      display: block !important;
}

.hide{
      display: none;
}

.overlay{
      display: none;
      opacity: 0.5;
      background-color: grey;
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 18;
}

.popup{
      width: 25%;
      height: 22%;
      min-width: 200px;
      min-height: 150px;
      top: 37.5%;
      left: 37.5%;
      margin-left: -(width/2);
      margin-right: -(height/2);
      position: absolute;
      z-index: 20;
      background-color: white;
      text-align: center;
      box-shadow: 25px 20px 100px black;
      display: none;
}

.popup button{
      width: 75px;
      margin: 20px;
      background-color: lightgrey;
      font-weight: bold;
}



.disabled{
      pointer-events: none;
      user-select: none;
}


.wrapper{
      width: 800px;
      box-shadow: 25px 20px 100px black;
      border-radius: 7px;
      margin:auto;
      margin-top: 50px;
      overflow: hidden;
}

.hidden-wrapper {
      height: 300px;
      widows: 100%;
      overflow-y: scroll;
}

.margin-wrapper {
      width: 24px;
      margin: auto;   
}

.current-edit {
      background-color: #3385ff !important;
      color: white;
}

#DataGrid div:hover {
      background-color: #3385ff;
      color: white;
}